body {
    min-height: auto;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../assets/img/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.867);
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(255, 27, 27, 0.552);
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #da5858;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #a2a2a2;
}

.social-login {
    margin-top: 15px;
}

.google-btn {
    background-color: white;
    color: #000000;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}